<h1><%= @question.question %>
  <button id="expand-question-edit" class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
  </button>
</h1>
<div class="collapse" id="collapseExample">
  <div class="well">
    <form class="" action="/questions/<%= @question.id %>" method="post">
      <div class="form-group">
        <label for="question">Edit Title</label>
        <input class="form-control" type="text" name="question" value="<%= @question.question %>">
      </div>
      <div id="responses">
        <input hidden id="response_count" name="response_count" value="1">
        <% if @responses.any? %>
          <label for="">Edit Responses</label>
          <% @responses.each do |response| %>
            <div class="form-group">
              <input class="form-control" type="text" name="<%= response.id %>" value="<%= response.response %>">
            </div>
          <% end %>
        <% end %>


      </div>

      <div class="form-group">
        <button class="btn btn-default" type="button" id="add-response">+</button>
      </div>

      <div class="form-group">
        <button class="btn btn-default" type="submit" name="_method" value="patch">Update</button>
      </div>
    </form>
  </div>
</div>

<% if @responses.any? %>
<h5>Possible responses include:</h5>
  <ul>
    <% @responses.each do |response| %>
      <li><%= response.response %></li>
    <% end %>
  </ul>
<% end %>
